body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fp_container {
  border: 1px solid black;
  padding: 20px;
}

.fp_container h3 {
  text-align: center;
}

.btn-wrap {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.btn-wrap button {
  height: 30px;
}